.app-layout {
  display: grid;
  grid-template-columns: minmax(25%, 30%) minmax(35%, 40%) minmax(25%, 30%);
  height: 95vh;
  gap: 12px;
  padding: 16px;
  color: #fff;
  font-family: "Mojang", monospace;
  word-spacing: 8px;
}

.sidebar,
.center,
.preview {
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 16px;
}
.sidebar {
  overflow-y: auto;
}

.sidebar-title,
.tab{
  color:rgb(235, 50, 235);
}

.active{
  color: rgb(255, 255, 255);
}

.selected{
  background-color: rgba(255, 119, 170, 0.4);
}

.character-item {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.character-item:active {
  background-color: rgba(255, 119, 170, 0.4);
}

.tab {
  flex: 1;
  padding: 8px;
  cursor: pointer;
}
.tab:active {
  overflow-y: auto;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 8px;
  margin-bottom: 12px;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-3d {
  width: 100%;
  height: 100%;
}

.tab-title{
  color: rgb(255, 170, 0);
  font-weight: bold;
}

.talent-description{
  color: rgb(200, 200, 200);
  text-align: justify;
}

.tooltip {
    position: absolute;
    background: #020c21; /* тёмный фон */
    border: 2px solid #fff; /* белая рамка */
    border-radius: 4px;
    padding: 4px 6px;
    pointer-events: none;
    z-index: 999;
    color: #adadad;
    min-width: 250px;
    white-space: pre-line;
    line-height: 1.2;
    box-shadow: 3px 3px 0 #000; /* эффект пиксельной тени */
}

.tooltip p {
    margin: 0;
    color: #fff;
}

.tooltip-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tooltip-label {
    text-align: left;
    color: #fff;
}

.tooltip-value {
    text-align: right;
    color: #a0ffa0; /* можно цвет под эффект Minecraft */
}
